In [7]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)

except ValueError:
    print("Pls enter valid numbers (not text).")

except ZeroDivisionError:
    print("You cant divide by zero!")

Enter a number:  4
Enter another number:  y

Pls enter valid numbers (not text).

In [15]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Cannot divide by zero.")
except ValueError:
    print("Please enter a valid number.")
else:
    print("Result is:", result)
finally:
    print("Execution completed.")

Enter a number:  9.7

Please enter a valid number.
Execution completed.

In [27]:
try:
    file = open("numpy.txt", "w")
    content = file.write("mclkdamclkdsmc")
except FileNotFoundError:
    print("The file was not found.")

**Regular Expression**

In [38]:
import re

txt = "The rain in d i khan"
x = re.findall("he", txt)
print(x)

['he']

In [40]:
import re

txt = "The rain in d i khan"
x = re.findall("in", txt)
print(x)

['in', 'in']

In [50]:
import re

txt = "The rain in d i khan"

#Check if "d i khan" is in the string:

x = re.findall("d i khan", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['d i khan']
Yes, there is at least one match!

In [54]:
text = "My name is Mudasir"
result = re.search("Mudasir", text)
print(result)

<re.Match object; span=(11, 18), match='Mudasir'>

In [66]:
import re

txt = "Therain inndikhan"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 7

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ZeeshanComputers\AppData\Local\Temp\ipykernel_8352\2662548031.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

In [70]:
import re

txt = "The rain in  dikhan"
x = re.search("Karachi", txt)
print(x)

None

In [74]:
import re

txt = "The rain in d i khan"
x = re.split('\s', txt)
print(x)

['The', 'rain', 'in', 'd', 'i', 'khan']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ZeeshanComputers\AppData\Local\Temp\ipykernel_8352\2399784896.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split('\s', txt)

In [78]:
text = "Contact: burki@example.com, frh@work.org"
emails = re.findall(r"\b[\w.-]+@[\w.-]+\.\w{2,4}\b", text)
print(emails)

['burki@example.com', 'frh@work.org']

In [84]:
import re

#Replace the first two occurrences of a white-space character with the digit 9:

txt = "The rain in tank"
x = re.sub("\s", "ed", txt, 2)
print(x)

Theedrainedin tank

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ZeeshanComputers\AppData\Local\Temp\ipykernel_8352\3096358422.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "ed", txt, 2)