**Tuples**

**create**

In [1]:
T1 = ()
T1

()

In [2]:
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [3]:
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [4]:
T5 = (1)
T5

1

In [5]:
type(T5)

int

In [6]:
T5 = ("Hello")
type(T5)

str

In [7]:
T5 = ("Hello",)
type(T5) # single item kaa tuple k method thora change ha

tuple

In [8]:
T5

('Hello',)

**Access**

In [12]:
T5[0]

'Hello'

In [13]:
T2

(1, 2, 3, 4, 5)

In [14]:
T2[4]

5

In [15]:
T3 = (1, 2, 3, (4, 5))
T3

(1, 2, 3, (4, 5))

In [20]:
T3[-1][1]

5

**Edit**

In [ ]:
#Tuples just like string are immutable and this ius the primary differnce between tuples and lists

In [21]:
T3

(1, 2, 3, (4, 5))

In [22]:
T3[0]=[30]

TypeError: 'tuple' object does not support item assignment

**Add**

In [ ]:
# not possible
# Tuples: immutable

**Delete**

In [23]:
T3

(1, 2, 3, (4, 5))

In [24]:
del T3

In [25]:
T3

NameError: name 'T3' is not defined

In [26]:
T2

(1, 2, 3, 4, 5)

In [28]:
del T2(-1)

SyntaxError: cannot delete function call (1610192391.py, line 1)

In [30]:
del T2

In [31]:
T2

NameError: name 'T2' is not defined

**Operations**

In [36]:
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [37]:
T3 = ("good" ,5.6 , 9)
T3

('good', 5.6, 9)

In [38]:
T2 + T3

(1, 2, 3, 4, 5, 'good', 5.6, 9)


#Tuples are read oinly data type we cant write in tuples

**Dictionatary**

**Create**

In [7]:
# empty dictionary
D = {}
D

{}

In [9]:
D = {"Name":"Mudasir", "Gender":"Male"}
D

{'Name': 'Mudasir', 'Gender': 'Male'}

In [15]:
D1 = {[1, 2, 3]:"Mudasir"}
D1

TypeError: unhashable type: 'list'

In [17]:
D1 = {(1, 2, 3):"Mudasir"}
D1

{(1, 2, 3): 'Mudasir'}

In [19]:
# duplicate keys
D2 = {"Name":"Ali", "Name":"Akram"}
D2

{'Name': 'Akram'}

In [21]:
D3 = {"Name":"Mudasir", "College":"GC no 1", "Marks":{"S1":99, "S2":97, "S3":98}}
D3 #2D dictionary

{'Name': 'Mudasir',
 'College': 'GC no 1',
 'Marks': {'S1': 99, 'S2': 97, 'S3': 98}}

In [27]:
D3['College']

'GC no 1'

In [29]:
D3['Marks']['S2']

97

In [35]:
D3['College']=['Gomal uni']
D3

{'Name': 'Mudasir',
 'College': ['Gomal uni'],
 'Marks': {'S1': 99, 'S2': 97, 'S3': 98}}

**Add new key-value pair**

In [38]:
D3

{'Name': 'Mudasir',
 'College': ['Gomal uni'],
 'Marks': {'S1': 99, 'S2': 97, 'S3': 98}}

In [44]:
D3['Location'] = ['Dera']
D3

{'Name': 'Mudasir',
 'College': ['Gomal uni'],
 'Marks': {'S1': 99, 'S2': 97, 'S3': 98},
 'Location': ['Dera']}

In [52]:
del D3 ['College']

In [54]:
D3

{'Name': 'Mudasir',
 'Marks': {'S1': 99, 'S2': 97, 'S3': 98},
 'Location': ['Dera']}

In [60]:
for i in D3:
    print(i, D3[i])

Name Mudasir
Marks {'S1': 99, 'S2': 97, 'S3': 98}
Location ['Dera']

In [64]:
'Name' in D3

True

In [70]:
sorted(D3)

['Location', 'Marks', 'Name']

In [72]:
D3.keys()

dict_keys(['Name', 'Marks', 'Location'])

In [74]:
D3.values()

dict_values(['Mudasir', {'S1': 99, 'S2': 97, 'S3': 98}, ['Dera']])

**Sets in python**

**No Duplicates**

In [78]:
my_set = {1, 2, 2, 3, 4, 4}
print(my_set) #Sets use hashing and only store unique hash values.

{1, 2, 3, 4}

In [82]:
my_set = {10, 20, 30}
myset  #no indexing possible in set

NameError: name 'myset' is not defined

In [84]:
S1 = {}

In [86]:
S1

{}

In [88]:
type(S1) # python ma defalt code dictionary kaa ha

dict

In [92]:
S2  = {"scak", 90 , 0.4, 'true'}
S2

{0.4, 90, 'scak', 'true'}

In [94]:
S4 = {[1, 2, 3], "Hello"}
S4

TypeError: unhashable type: 'list'

S4 = {(1, 2, 3), "Hello"}
S4 # tuple immutable ha

**Edit**

In [103]:
S4[2] = 100
S4

TypeError: 'set' object does not support item assignment

In [109]:
S4
id(S4)

1559584151744

In [107]:
S4.add(6)
S4

{(1, 2, 3), 6, 'Hello'}

In [111]:
id(S4)

1559584151744

**Remove**

In [114]:
S4

{(1, 2, 3), 6, 'Hello'}

In [124]:
S4.remove((1, 2, 3))
S4

{'Hello'}

**Operations**

In [127]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}
S1 + S2 # no concatenation in set an dalso we cant multiply set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [131]:
for i in S4:
    print(i)  # Looping and memebershion operatoin is working

Hello

In [133]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [135]:
S1.intersection(S2)

{3, 4, 5}

In [139]:
S1.difference(S2)

{1, 2}

In [141]:
S2.difference(S1)

{6, 7}

In [145]:
S1.isdisjoint(S2)

False

In [147]:
S1.issubset(S2)

False

In [149]:
S2.isdisjoint(S1)

False

In [151]:
S1.issuperset(S2)

False