In [43]:
print("Hello, Mudasir!")

Hello, Mudasir!

In [1]:
print()

In [11]:
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
input("apna name btaoo")

apna name btaoo Burki saib

'Burki saib'

In [18]:
num1=input("enter 1st name")
num2=input("enter 2nd name")

enter 1st name mudasir
enter 2nd name burki

In [19]:
num3 = num1 +num2
print(num3)

mudasirburki

In [1]:
type('4')

str

num3 = "alimbyurki"
type(num3)

**Type Conversion**

In [7]:
x = "5"      
y = int(x)
print(y)

5

In [8]:
list('Heloo')

['H', 'e', 'l', 'o', 'o']

In [9]:
tuple('Heloo')

('H', 'e', 'l', 'o', 'o')

In [11]:
int('6')

6

In [12]:
float('4')

4.0

In [13]:
bool('3')

True

In [14]:
num1=input("enter 1st num")
num2=input("enter 2nd num")
num3 = num1 +num2
print(num3)

enter 1st num 32
enter 2nd num 32

3232

In [15]:
num1=input("enter 1st num")
num2=input("enter 2nd num")
num3 =int( num1 +num2 )
print(num3)

enter 1st num 32
enter 2nd num 32

3232

In [16]:
num1=input("enter 1st num")
num2=input("enter 2nd num")
num3 = int(num1) + int(num2)
print(num3)

enter 1st num 32
enter 2nd num 32

64

In [17]:
num1=int(input("enter 1st num"))
num2=int(input("enter 2nd num"))
num3 = num1+num2
print(num3)

enter 1st num 32
enter 2nd num 32

64

**Numeric literals**

In [20]:
# Integer Literals
a = 0b1010  # Binary
b = 100     # Decimal
c = 0o310   # Octal
d = 0x12c   # Hex

# Float Literals
f1 = 10.5
f2 = 1.5e2
f3 = 1.5e-3

# Complex Literal
x = 3.14j

print(a, b, c, d)
print(f1, f2, f3)

10 100 200 300
10.5 150.0 0.0015

 **String literals**

In [21]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [22]:
a = True + 4   # True == 1
b = False + 10 # False == 0

print("a:", a)
print("b:", b)

a: 5
b: 10

**Special literals**

In [23]:
a = None
print(a)

None

In [24]:
# Variable Declaration
k = None

**Conditional statement**

email= input("enter your email ")
if '@' in email:
    pass
else:
    email= input("enter your email correctly")
password = input("Enter your password")
if email == "mudasirburki800@gmail.com" and password == "1234":
   print("Welcome bro")
elif email == "mudasirburki800@gmail.com" and password != "1234":
   print("email tk ha bhaiya lkn password pir sa try kara")
   password = input("Enter your password")
   if password == "1234":
        print("Good hogiya g.")
   else:
        print("password pir sa try karr")
else:
   print("email aur password 2no ghalat ha , bhai pir sa try karr")

**Menu-Driven Calculator**

In [35]:
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
 2

balance

**While loop**

In [33]:
number = int(input("Enter the number"))
i = 1
while i <= 10:
    print (number,  '*' ,  i  ,  '=' ,   number * i)
    i+=1

Enter the number 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30